In [1]:
from string import ascii_letters, digits
import pandas as pd
import datetime
import numpy as np

In [22]:
usernames=['rzhou11', 'abingol1', 'hhuang2']

In [10]:
passwords=[''.join(np.random.choice(list(ascii_letters + digits), 8)) for x in range(len(username))]
passwords

['pjEFrytV', 'zicbN9e0', 'Deg72ffT']

In [11]:
create_dates=[datetime.datetime.now().date()-datetime.timedelta(int(x)) for x in np.random.randint(0,1500, 3)
    
]
create_dates

[datetime.date(2019, 2, 8),
 datetime.date(2018, 5, 25),
 datetime.date(2018, 3, 6)]

In [14]:
[datetime.timedelta(int(x)) for x in np.random.randint(0,500, 3)]

[datetime.timedelta(days=276),
 datetime.timedelta(days=45),
 datetime.timedelta(days=278)]

In [21]:
datetime.datetime.now().date()

datetime.date(2020, 2, 8)

In [23]:
df=pd.DataFrame({'username': usernames, 'password': passwords, 'date_created': pd.to_datetime(create_dates)})
df

   username  password date_created
0   rzhou11  pjEFrytV   2019-02-08
1  abingol1  zicbN9e0   2018-05-25
2   hhuang2  Deg72ffT   2018-03-06

In [25]:
random_data=np.random.random((4,3))
random_data

array([[0.73018577, 0.46004417, 0.38613302],
       [0.22164152, 0.46245637, 0.45729715],
       [0.001348  , 0.20186017, 0.50903684],
       [0.67723105, 0.53301847, 0.69076752]])

In [26]:
df_random=pd.DataFrame(random_data, columns=['a','b','c'], index=['foo', 'bar', 'qux', 'nar'])
df_random

            a         b         c
foo  0.730186  0.460044  0.386133
bar  0.221642  0.462456  0.457297
qux  0.001348  0.201860  0.509037
nar  0.677231  0.533018  0.690768

In [27]:
emails=[username+'@its.jnj.com' for username in usernames]
emails

['rzhou11@its.jnj.com', 'abingol1@its.jnj.com', 'hhuang2@its.jnj.com']

In [28]:
df['email']=emails
df

   username  password date_created                 email
0   rzhou11  pjEFrytV   2019-02-08   rzhou11@its.jnj.com
1  abingol1  zicbN9e0   2018-05-25  abingol1@its.jnj.com
2   hhuang2  Deg72ffT   2018-03-06   hhuang2@its.jnj.com

In [29]:
df

   username  password date_created                 email
0   rzhou11  pjEFrytV   2019-02-08   rzhou11@its.jnj.com
1  abingol1  zicbN9e0   2018-05-25  abingol1@its.jnj.com
2   hhuang2  Deg72ffT   2018-03-06   hhuang2@its.jnj.com

In [30]:
df.set_index('username',inplace=True)

In [31]:
df

          password date_created                 email
username
rzhou11   pjEFrytV   2019-02-08   rzhou11@its.jnj.com
abingol1  zicbN9e0   2018-05-25  abingol1@its.jnj.com
hhuang2   Deg72ffT   2018-03-06   hhuang2@its.jnj.com

In [33]:
df.index.name

'username'

In [36]:
df2=pd.DataFrame({'email': emails, 'password': passwords, 'date_created': create_dates}, index=usernames)
df2.index.name='users'
df2

                         email  password date_created
users
rzhou11    rzhou11@its.jnj.com  pjEFrytV   2019-02-08
abingol1  abingol1@its.jnj.com  zicbN9e0   2018-05-25
hhuang2    hhuang2@its.jnj.com  Deg72ffT   2018-03-06

In [38]:
df.reset_index(inplace=True)

In [39]:
df

   username  password date_created                 email
0   rzhou11  pjEFrytV   2019-02-08   rzhou11@its.jnj.com
1  abingol1  zicbN9e0   2018-05-25  abingol1@its.jnj.com
2   hhuang2  Deg72ffT   2018-03-06   hhuang2@its.jnj.com

In [40]:
df.columns

Index(['username', 'password', 'date_created', 'email'], dtype='object')

In [41]:
csv=[','.join(map(lambda x: str(x), row)) for row in np.vstack([df.columns, df])]
csv

['username,password,date_created,email',
 'rzhou11,pjEFrytV,2019-02-08 00:00:00,rzhou11@its.jnj.com',
 'abingol1,zicbN9e0,2018-05-25 00:00:00,abingol1@its.jnj.com',
 'hhuang2,Deg72ffT,2018-03-06 00:00:00,hhuang2@its.jnj.com']

In [43]:
np.vstack([df.columns, df])

array([['username', 'password', 'date_created', 'email'],
       ['rzhou11', 'pjEFrytV', Timestamp('2019-02-08 00:00:00'),
        'rzhou11@its.jnj.com'],
       ['abingol1', 'zicbN9e0', Timestamp('2018-05-25 00:00:00'),
        'abingol1@its.jnj.com'],
       ['hhuang2', 'Deg72ffT', Timestamp('2018-03-06 00:00:00'),
        'hhuang2@its.jnj.com']], dtype=object)

In [44]:
help(np.vstack)

Help on function vstack in module numpy:

vstack(tup)
    Stack arrays in sequence vertically (row wise).

    This is equivalent to concatenation along the first axis after 1-D arrays
    of shape `(N,)` have been reshaped to `(1,N)`. Rebuilds arrays divided by
    `vsplit`.

    This function makes most sense for arrays with up to 3 dimensions. For
    instance, for pixel-data with a height (first axis), width (second axis),
    and r/g/b channels (third axis). The functions `concatenate`, `stack` and
    `block` provide more general stacking and concatenation operations.

    Parameters
    ----------
    tup : sequence of ndarrays
        The arrays must have the same shape along all but the first axis.
        1-D arrays must have the same length.

    Returns
    -------
    stacked : ndarray
        The array formed by stacking the given arrays, will be at least 2-D.

    See Also
    --------
    stack : Join a sequence of arrays along a new axis.
    hstack : Stack arrays in sequence horizontally (column wise).
    dstack : Stack arrays in sequence depth wise (along third dimension).
    concatenate : Join a sequence of arrays along an existing axis.
    vsplit : Split array into a list of multiple sub-arrays vertically.
    block : Assemble arrays from blocks.

    Examples
    --------
    >>> a = np.array([1, 2, 3])
    >>> b = np.array([2, 3, 4])
    >>> np.vstack((a,b))
    array([[1, 2, 3],
           [2, 3, 4]])

    >>> a = np.array([[1], [2], [3]])
    >>> b = np.array([[2], [3], [4]])
    >>> np.vstack((a,b))
    array([[1],
           [2],
           [3],
           [2],
           [3],
           [4]])

In [46]:
with open('./data/read_csv_example.csv', 'w') as f:
    [f.write(line+'\n') for line in csv]